body {background-color: #272630;
      margin: 0em;}

      .cabecera {border: thin solid;
            border-color: #03fca1;
            text-align: center;
            margin-bottom: 1em;
            font-family: arial;
            font-style: italic;
            font-weight: bold;
            background-color: #03fca1;
            color: darkblue;}


.charizard {/* width: 500px, height: 226px, frames: 16, */
            width: 500px;
            height: 226px;
            background: url("imagenes/charizard.png");
            animation: magic 1s steps(16) infinite;

            display: grid;
            border: 10px solid; color: #b50000;
            margin: 3em;
            border-radius: 5em;
            position: absolute;
            right: 600px;
            top:100px;
            background-color: #0094b5}

@keyframes magic {
  100% {background-position: -8000px;}
  }

  .lucario {/* width: 200px, height: 277px, frames: 12 */
              width: 200px;
              height: 227px;
              background: url("imagenes/lucario.png");
              animation: dance 1s steps(12) infinite;

              display: grid;
              border: 10px solid; color: #7178a3;
              margin: 3em;
              border-radius: 5em;
              background-color: white;
              position: absolute;
              right: 750px;
              top: 400px;
              background-color: #e2e838}

  @keyframes dance {
    100% {background-position: -2400px;}
    }

    .fight {/* width: 400px, height: 178px, frames: 5 */
                width: 400px;
                height: 178px;
                background: url("imagenes/fight.png");
                animation: battle 0.5s steps(5) infinite;

                display: grid;
                border: 10px solid; color: #ff54c6;
                margin: 3em;
                border-radius: 5em;
                background-color: white;
                position: absolute;
                right: 650px;
                top: 700px;
                background-color: #38e867}

    @keyframes battle {
      100% {background-position: -2000px;}
      }

      .goku {/* width: 500px, height: 364px, frames: 33 */
                  width: 500px;
                  height: 364px;
                  background: url("imagenes/goku.png");
                  animation: ataque 3s steps(33) infinite;

                  display: grid;
                  border: 10px solid; color: #12ebff;
                  margin: 3em;
                  border-radius: 5em;
                  background-color: white;
                  position: absolute;
                  right: 600px;
                  top: 970px;
                  background-color: #5538e8}

      @keyframes ataque {
        100% {background-position: -16500px;}
        }

        .st {/* width: 512px, height: 512px, frames: 12 */
                    width: 512px;
                    height: 512px;
                    background: url("imagenes/st.png");
                    animation: st 1s steps(12) infinite;

                    display: grid;
                    border: 10px solid; color: #fcba03;
                    margin: 3em;
                    border-radius: 5em;
                    background-color: white;
                    position: absolute;
                    right: 590px;
                    top: 1430px;
                    background-color: #b50000;}

        @keyframes st {
          100% {background-position: -6144px;}
          }

          @media only screen and (max-width: 1000px) {
  .charizard {
    position: absolute;
    right: 200px;
    top:100px;
  }

  .lucario {
    position: absolute;
    right: 350px;
    top: 400px;
  }

  .fight {
    position: absolute;
    right: 250px;
    top: 700px;
  }

  .goku {
    position: absolute;
    right: 200px;
    top: 970px;
  }

  .st {
    position: absolute;
    right: 190px;
    top: 1430px;
  }
}



.hcharizard {
  display: none;
  margin: 3em;
  position: absolute;
  right: 210px;
  top:179px;
  background-color: #b50000;
  padding: 2em;
  color: white;
  width: 27.3em;
  height: 1em;
  text-align: center;}


.charizard:hover + div {
  display: block;}

  .hlucario {
    display: none;
    margin: 3em;
    position: absolute;
    right: 350px;
    top: 477px;
    background-color: #7178a3;
    padding: 2em;
    color: white;
    width: 9.7em;
    height: 1em;
    text-align:center;
  }

  .lucario:hover + div {
    display: block;}

    .hfight {
      display: none;
      margin: 3em;
      position: absolute;
      right: 256px;
      top: 754px;
      background-color: #ff54c6;
      padding: 2em;
      color: black;
      width: 21.5em;
      height: 1em;
      text-align: center;
    }

  .fight:hover + div {
      display: block;}

    .hgoku {
        display: none;
        margin: 3em;
        position: absolute;
        right: 200px;
        top: 1120px;
        background-color: #12ebff;
        padding: 2em;
        color: black;
        width: 28.5em;
        height: 1em;
        text-align: center;
      }

      .goku:hover + div {
        display: block;}

        .hst {
            display: none;
            margin: 3em;
            position: absolute;
            right: 190px;
            top: 1650px;
            background-color: #fcba03;
            padding: 2em;
            color: black;
            width: 29.2em;
            height: 1em;
            text-align: center;
          }

          .st:hover + div {
            display: block;}
